<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javachip.mapper.addressMapper">
	<!-- 메인배송지 조회 -->
	<select id="addressSelect" resultType="AddressVO" parameterType="int">
		SELECT *
		FROM addr
		where uNo = #{uNo} and aStatus = 'A'
	</select>
	
	<!-- 추가배송지 조회 -->
	<select id="addressSelectSub" resultType="AddressVO" parameterType="int">
		SELECT * 
		FROM addr
		where uNo = #{uNo} and aStatus = 'B'
	</select>
	
	<!-- 배송지 저장 및 수정 -->
	<insert id = "addressSaved" parameterType="addressVO">
		INSERT INTO addr(
			 uNo
			,aStatus
			,aName
			,Addr1
			,Addr2
			,Addr3
			,aPhone
			,aMail
			,aComment
		)values(
			 #{uNo}
			,#{aStatus}
			,#{aName}
			,#{Addr1}
			,#{Addr2}
			,#{Addr3}
			,#{aPhone}
			,#{aMail}
			,#{aComment}
		)ON DUPLICATE KEY UPDATE
			 aStatus = #{aStatus}
			,aName = #{aName}
			,Addr1 = #{Addr1}
			,Addr2 = #{Addr2}
			,Addr3 = #{Addr3}
			,aPhone = #{aPhone}
			,aMail = #{aMail}
			,aComment = #{aComment}
	</insert>
	
	<!-- 배송시 전달사항 -->
	<update id="updateComment">
	update addr
	set aComment = #{aComment}
	where uNo =#{uNo}
	</update>
</mapper>