<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javachip.mapper.cartMapper">

	<!-- 장바구니 조회 -->
	<select id="selectCartByUno" resultType="CartVO" parameterType="int">
		SELECT *
		     , (SELECT pName FROM product WHERE cart.pNo = product.pNo) as pName
		     , (SELECT pPrice FROM product WHERE cart.pNo = product.pNo) as pPrice
		  FROM cart
		 WHERE uNo = #{uNo}
		   AND cStatus = 'C'
	</select>
	
	<!-- 이미 장바구니에 있는지 조회 -->
	<select id="checkDupCart" resultType="int" parameterType="CartVO">
		SELECT count(*)
		  FROM cart
		 WHERE uNo = #{uNo}
		   AND pNo = #{pNo}
		   AND cStatus = 'C'
	</select>
	
	<!-- 장바구니 선택한 것만 (예정) cNo 여러개 받아서 백단에서 하나씩 select, 리스트로 만들어서 다시 구현 -->
	<select id="selectCartForOrder" resultType="CartVO" parameterType="int">
		SELECT *
		     , (SELECT pName FROM product WHERE cart.pNo = product.pNo) as pName
		     , (SELECT pPrice FROM product WHERE cart.pNo = product.pNo) as pPrice
		  FROM cart
		 WHERE cNo = #{cNo}
		   AND cStatus = 'C'
	</select>
	
	<!-- 장바구니 총 합계 금액 -->
	<select id="totalPrice" resultType="int" parameterType="int">
		SELECT SUM(pPrice*cCount) as total
		  FROM cart c
		  JOIN product p
		    ON c.pNo = p.pNo
		 WHERE uNo = #{uNo}
		   AND c.cStatus = 'C'
	</select>
	
	<!-- 장바구니 추가 -->
	<insert id="addCart" parameterType="CartVO">
		INSERT INTO
		cart (
			 uNo
			,pNo
			,cCount
		) VALUES (
			 #{uNo}
			,#{pNo}
			,#{cCount}
		)
	</insert>
	
	<!-- 장바구니에서 상품 삭제 -->
	<delete id="deleteOneCart" parameterType="int">
		DELETE
		  FROM cart
		 WHERE cNo = #{cNo}
	</delete>
	
	<!-- 장바구니 전체 삭제 -->
	<delete id="deleteAllCart" parameterType="int">
		DELETE
		  FROM cart
		 WHERE uNo = #{uNo}
		   AND cStatus = 'C'
	</delete>
	
	<!-- 장바구니 상품 갯수 수정 -->
	<update id="updateCart" parameterType="CartVO">
		UPDATE cart
		   SET cCount = #{cCount}
		 WHERE cNo = #{cNo}
		   AND cStatus = 'C'
	</update>
	
	<!-- 결제 시 사용할 쿼리 -->
	<update id="orderCart" parameterType="CartVO">
		UPDATE cart
		   SET cStatus = 'O'
		     , oNo = #{oNo}
		 WHERE uNo = #{uNo}
		   AND cStatus = 'C' 
	</update>
</mapper>