<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javachip.mapper.helpMapper">

	<select id="insertNotice" parameterType="noticeVO">
		INSERT INTO Notice 
		(uNo, nTitle, nContents)
		VALUES(#{uNo},#{nTitle},#{nContents})
	</select>
	
	<select id="selectNoticeAll" resultType="noticeVO" parameterType="searchVO">
		SELECT * , 
		( SELECT uName from User where uNo = Notice.uNo ) as uName
		FROM Notice
		WHERE uNo=1
		<if test='searchType != null and searchType.equals("title")'>
			AND nTitle like concat('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("content")'>
			AND nContents like concat('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("tnc")'>
			AND nTitle like concat('%',#{searchValue},'%')
			
			AND nContents like concat('%',#{searchValue},'%')
		</if>
		ORDER BY nNo DESC
	</select>
	
	<select id="selectOneByNno" resultType="noticeVO" parameterType="int">
		SELECT * , 
		( SELECT uName from User where uNo = Notice.uNo ) as uName 
		FROM Notice
		WHERE nNo = #{nNo}
	</select>
	
</mapper>