<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.javachip.mapper.UserMapper">
	
	<select id="selectUserByLogin" resultType="userVO" parameterType="userVO">
		SELECT *
		  FROM user
		 WHERE uId = #{uId}
		   AND uPw = #{uPw}
	</select>
	<!-- 
		dao에서 sqlSession객체의 
		selectOne 메소드를 호출하면 되고
		그의 결과 타입은 int 이다.
	 -->
	<select id="selectCntById" 
	     parameterType="String" 
	     resultType="int">
		select count(uId)
		  from user
		 where uId = #{uId}
	</select>
	
	<insert id = "insert" parameterType="userVO">
		INSERT INTO user(
			 uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd
			,uMail
			,uAlertNum
		)values(
			 #{uId}
			,#{uPw}
			,#{uName}
			,#{uJoin}
			,"N"
			,#{uPhone}
			,"N"
			,""
			,#{uAdd}
			,#{uMail}
			,#{uAlertNum}
		)
	</insert>
	
	<insert id = "insertBiz" parameterType="userVO">
		INSERT INTO user(
			 uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd
			,uMail
			,uAlertNum
		)values(
			 #{uId}
			,#{uPw}
			,#{uName}
			,#{uJoin}
			,#{uRetire}
			,#{uPhone}
			,#{uStatus}
			,#{uBisno}
			,#{uAdd}
			,#{uMail}
			,#{uAlertNum}
		)
	</insert>
	<!-- 관리자 일반회원 공통조건 검색 참조 -->
	<sql id="findUser">
		<if test='AdminSearchId != null and AdminSearchId.equals("uId")'>
		and uId like concat('%', #{AdminSearchIdValue}, '%') 
		</if>
		<if test='AdminSearchId != null and AdminSearchId.equals("uName")'>
		and uName like concat('%', #{AdminSearchIdValue}, '%')
		</if>
	</sql>
	<!-- 관리자 일반회원 전체 목록 -->
	<select id="selectUserByAdmin" resultType="userVO" parameterType="AdminSearchVO">
		SELECT * FROM user
		where uStatus ='N'
		<include refid="findUser" />
		order by uNo asc limit #{sNum},#{perPageNum}
	</select>
	
	<!-- 관리자 사업자회원 전체 목록 -->
	<select id="selectBizUserByAdmin" resultType="userVO" parameterType="AdminSearchVO">
		SELECT * FROM user
		where uStatus ='B'
		<include refid="findUser" />
		order by uNo asc limit #{sNum},#{perPageNum}
	</select>
	
	<!-- 관리자 일반회원 세부 목록 -->
	<select id="selectUserOneByuNoByAdmin" resultType="userVO" parameterType="int">
		SELECT uNo,uId,uName,uJoin,uRetire,uPhone,uStatus,uBisno,uAdd,uMail,uAlertNum FROM user
			where uNo = #{uNo} and uStatus ='N'
	</select>
	
	<!-- 관리자 페이징 일반유저 전체 갯수 -->
	<select id="UserTotal" resultType="int">
		select count(*) as cnt from user
		where uStatus = 'N'
	</select>
	
	<!-- 관리자 페이징 사업자유저 전체 갯수 -->
	<select id="BizUserTotal" resultType="int">
		select count(*) as cnt from user
		where uStatus = 'B'
	</select>
</mapper>