<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.javachip.mapper.UserMapper">
	
	<select id="selectUserByLogin" resultType="userVO" parameterType="userVO">
		SELECT uNo
			,uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd1
			,uAdd2
			,uAdd3
			,uMail
			,uAlertNum
		  FROM user
		 WHERE uId = #{uId}
		   AND uPw = #{uPw}
		   AND uRetire = "N"
	</select>
	
	<select id="selectUser" resultType="userVO" parameterType="userVO">
		SELECT uNo
			,uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd1
			,uAdd2
			,uAdd3
			,uMail
			,uAlertNum
		  FROM user
		 WHERE uId = #{uId}
		   AND uPw = #{uPw}
	</select>
	
	<!-- 
		dao에서 sqlSession객체의 
		selectOne 메소드를 호출하면 되고
		그의 결과 타입은 int 이다.
	 -->
	<select id="selectCntById" 
	     parameterType="String" 
	     resultType="int">
		select count(uId)
		  from user
		 where uId = #{uId}
	</select>
	
	<insert id = "insert" parameterType="userVO">
		INSERT INTO user(
			 uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd1
			,uAdd2
			,uAdd3
			,uMail
			,uAlertNum
		)values(
			 #{uId}
			,#{uPw}
			,#{uName}
			,NOW()
			,"N"
			,#{uPhone}
			,"N"
			,""
			,#{uAdd1}
			,#{uAdd2}
			,#{uAdd3}
			,#{uMail}
			,#{uAlertNum}
		)
	</insert>
	
	<insert id = "insertBiz" parameterType="userVO">
		INSERT INTO user(
			 uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd1
			,uAdd2
			,uAdd3
			,uMail
			,uAlertNum
		)values(
			 #{uId}
			,#{uPw}
			,#{uName}
			,NOW()
			,"N"
			,#{uPhone}
			,"W"
			,""
			,#{uAdd1}
			,#{uAdd2}
			,#{uAdd3}
			,#{uMail}
			,#{uAlertNum}
		)
	</insert>
	
	<select id="idFind" resultType="userVO" parameterType="userVO">
		SELECT uId
		  FROM user
		 WHERE uName = #{uName}
		   AND uMail = #{uMail}
	</select>
	
	<select id="pwFind" resultType="userVO" parameterType="userVO">
		UPDATE user
		   SET uPw = #{uPw}
		 WHERE uMail = #{uMail} 
		   AND uId = #{uId}
		   AND uName = #{uName}
	</select>
	
	<select id="pwFindCheck" resultType="int">
		SELECT count(*)
		  FROM user
		 WHERE uMail = #{uMail}
		   AND uId = #{uId}
		   AND uName = #{uName}
	</select>
	
<!-- =============================== mypage 관련 쿼리 ==================================== -->
	<select id="infoCheck" resultType="userVO" parameterType="userVO">
		SELECT count(*)
		  FROM user
		 WHERE uId = #{uId}
	</select>
	
	<update id = "infoUpdate" parameterType="userVO">
		UPDATE user
		   SET uId = #{uId}
			  ,uPw = #{uPw}
			  ,uName = #{uName}
			  ,uPhone = #{uPhone}
			  ,uBisno = #{uBisno}
			  ,uAdd1 = #{uAdd1}
			  ,uAdd2 = #{uAdd2}
			  ,uAdd3 = #{uAdd3}
			  ,uMail = #{uMail}
		 WHERE uId = #{uId}
	</update>
	
	<delete id = "goodbye" parameterType="userVO">
		INSERT INTO user(
			 uId
			,uPw
			,uName
			,uJoin
			,uRetire
			,uPhone
			,uStatus
			,uBisno
			,uAdd
			,uMail
			,uAlertNum
		)values(
			 #{uId}
			,#{uPw}
			,#{uName}
			,NOW()
			,"N"
			,#{uPhone}
			,"N"
			,""
			,#{uAdd}
			,#{uMail}
			,#{uAlertNum}
		)
	</delete>

	
<!-- ===============================관리자용 sql 쿼리 모음================================ -->
	<!-- 관리자 일반회원 공통조건 검색 참조 -->
	<sql id="findUser">
		<if test='AdminSearchId != null and AdminSearchId.equals("uId")'>
		and uId like concat('%', #{AdminSearchIdValue}, '%') 
		</if>
		<if test='AdminSearchId != null and AdminSearchId.equals("uName")'>
		and uName like concat('%', #{AdminSearchIdValue}, '%')
		</if>
	</sql>
	<!-- 관리자 일반회원 전체 목록 -->
	<select id="selectUserByAdmin" resultType="userVO" parameterType="AdminSearchVO">
		SELECT * FROM user
		where uStatus ='N'
		<include refid="findUser" />
		order by uNo asc limit #{sNum},#{perPageNum}
	</select>
	
	<!-- 관리자 사업자회원 전체 목록 -->
	<select id="selectBizUserByAdmin" resultType="userVO" parameterType="AdminSearchVO">
		SELECT * FROM user
		where uStatus ='B'
		<include refid="findUser" />
		order by uNo asc limit #{sNum},#{perPageNum}
	</select>
	
	<!-- 블랙리스트회원 전체 목록 -->
	<select id="selectBlakListByAdmin" resultType="userVO" parameterType="AdminSearchVO">
		SELECT * FROM user
		where uAlertNum > 0
		<include refid="findUser" />
		order by uAlertNum desc limit #{sNum},#{perPageNum}
	</select>
	
	<!-- 관리자 일반회원 세부 목록 -->
	<select id="selectUserOneByuNoByAdmin" resultType="userVO" parameterType="int">
		SELECT * FROM user
		where uStatus = 'N'
		and uNo = #{uNo}
	</select>
	
	<!-- 관리자 사업자회원 세부 목록 -->
	<select id="selectBizUserOneByuNoByAdmin" resultType="userVO" parameterType="int">
		SELECT * FROM user
		where uStatus = 'B'
		and uNo = #{uNo}
	</select>
	
	<!-- 관리자 블랙리스트 세부 목록 -->
	<select id="selectBlacklistOneByuNoByAdmin" resultType="userVO" parameterType="int">
		SELECT * FROM user
		where uAlertNum > 0
		and uNo = #{uNo}
	</select>
	
	<!-- 관리자 페이징 일반유저 전체 갯수 -->
	<select id="UserTotal" resultType="int">
		select count(*) as cnt from user
		where uStatus = 'N'
		<include refid="findUser" />
	</select>
	
	<!-- 관리자 페이징 사업자유저 전체 갯수 -->
	<select id="BizUserTotal" resultType="int">
		select count(*) as cnt from user
		where uStatus = 'B'
		<include refid="findUser" />
	</select>
	
		<!-- 관리자 페이징 사업자유저 전체 갯수 -->
	<select id="BlacklistTotal" resultType="int">
		select count(*) as cnt from user
		where uAlertNum > 0
		<include refid="findUser" />
	</select>
	
	<!-- 일반회원경고횟수추가 -->
	<update id="stopUser" parameterType="int">
		update user
		set uAlertNum = uAlertNum + 1
		where uNo = #{uNo}
	</update>
	
	<!-- 정지해제 -->
	<update id="CancleStopUser" parameterType="UserVO">
		update user
		set uAlertNum = uAlertNum - 1
		where uNo = #{uNo}
	</update>
</mapper>